:root{
  --color-bg: #242424;
  --color-second: #7ed957;
  --color-hover: #4e8636;
  --color-text: #f5f5f5;
  --color-whats: #25d366;
}

*{
  font-family: 'Open Sans', sans-serif;
}



.banner h1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
}

.banner p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.banner a {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 200px;
  background: var(--color-second);
}

.btn-whatsapp-pulse {
  background-color: var(--color-hover);
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  padding: 35px;
  text-decoration: none;
  border-radius: 50%;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
  box-shadow: 0 0 0 0 rgb(126, 217, 87);
  }
  80% {
  box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
  }
}

.btn-whatsapp-pulse:hover {
  text-decoration: none;
  color: white;
}


.fa-whatsapp {
  margin-top: 3px;
  text-decoration: none;
}

.btn-custom{
  background: var(--color-second);
}


.btn-banner:hover {
  background: var(--color-hover);
  color: var(--color-text);
}

.btn-custom:hover{
  background: var(--color-hover);
  color: var(--color-text);
}


/* ini: Preloader */

#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: var(--color-bg);
  z-index:999;
}

#preloader .inner{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.social-custom {
  text-align: center;
}

.social-custom i {
  text-decoration: none;
  color: var(--color-text);
}

.social-custom i:hover {
  text-decoration: none;
  color: var(--color-second);
}

.link-custom {
  color: var(--color-second);
}
.link-custom:hover {
  color: var(--color-hover);
  text-decoration: none;
}

footer {
  background-color: var(--color-bg);
}



/* end: Preloader */

/*
@media screen and (max-width: 1004px) {
  .banner h1 {
    transform: translate(-50%, -90%);
  }

  .banner p {
    transform: translate(-50%, -70%);
  }
}

@media screen and (max-width: 506px) {
  .banner h1 {
    font-size: 20px;
    transform: translate(-50%, -200%)
  }

  .banner p {
    font-size: 12px;
    transform: translate(-50%, -212%);
  }

  .btn-banner {
    transform: translate(-50%, -155%);
    height: 40px;
    width: 100px;
    font-size: 13px;
    text-align: center;
  }

}

*/

/*

320px — 480px: dispositivos móveis
481px — 768px: iPads, tablets
769px — 1024px: telas pequenas, laptops
1025px — 1200px: desktops, telas grandes
1201px e acima —  telas muito grandes, TVs

*/

@media screen and (max-width: 320px) {
  .jumbo-custom {
    width: 320px;
    height: 100vh;
  }

  .banner h1 {
    top: 50%;
  }

  .banner p {
    top: 74%;
  }

  .banner a {
    transform: translate(-50%, 120%);
  }
}

/*
@media screen and (max-width: 481px) {
  .jumbo-custom {
    width: 481px;
    height: 100vh;
  }

  .banner h1 {
    top: 60%;
  }

  .banner p {
    top: 80%;
  }

  .banner a {
    transform: translate(-50%, 90%);
  }
}
/*
@media screen and (max-width: 769px) {
  .banner p {
    top: 55%;
  }
}

*/